<% provide(:title, 'Cars trucks bikes')%>
<!--this is just for now will make a css page and make a div id -->

<div id = "divi">
<%= image_tag "limages/here.png"%>
</div>

<div id = "div3">
<div style= " width: 940px; height: 510px;
margin-left: 18.5%; margin-top: 0%;  " >
<iframe width="800" height="494" src="http://www.youtube.com/embed/ahONPZJG_94?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

</div>
<h2 style= "margin-left: 32%; font-family: Arial">"Drivin with no where to go, we just Cruisin Bro!"</h2>

	<%= render "layouts/features" %>
	<div class="ad-homeb">
      <script type="text/javascript"><!--
google_ad_client = "ca-pub-3387068696014466";
/* cruisin bro */
google_ad_slot = "9748469247";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</div>
	
	<%= render "layouts/footer"%>
