<% provide(:title, 'Cars turks bikes')%>
<!--this is just for now will make a css page and make a div id -->

<div id = "divi">
<%= image_tag "limages/here.png"%>
</div>

<div id = "div3">
<div style= " width: 940px; height: 510px;
margin-left: 18.5%; margin-top: 0%;  " >
<iframe src="http://player.vimeo.com/video/50567384?color=c9ff23" width="800" height="494" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/50567384">H2Oi 2012 Weekend | TWreck Films</a> from <a href="http://vimeo.com/twreckfilms">TofuWreck Films | Jd Lazaro</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
</div>

</div>
<h2 style= "margin-left: 32%; font-family: Arial">"Drivin with no where to go, we just Cruisin Bro!"</h2>


	<%= render "layouts/features" %>
	<%= render "layouts/footer"%>
