<% provide(:title, 'Cars trucks bikes')%>
<!--this is just for now will make a css page and make a div id -->

<div id = "divi">
	<div class="divfor-title">
		<%= image_tag "limages/here.png"%>
			<h3>Site in testing and Development like us for updates </h3>
		<div class="fb-like" data-href="https://www.facebook.com/pages/Cruisin-Bro/426252127422742" data-send="true" data-width="450" data-show-faces="false"> </div>

	</div>
</div>

<div id = "div3">
	<div class= "home-div2 " >
		
	</div>
</div>
<div class=" mainbox-2" style="background-color: black">
<h1 style= "margin-left: 32%; font-family: Arial">"cruisin the internet for crazy sh*t, we just Cruisin Bro!"</h1>

	<%= render "layouts/features" %>
	<div class="ad-homeb">
      <script type="text/javascript"><!--
google_ad_client = "ca-pub-3387068696014466";
/* cruisin bro */
google_ad_slot = "9748469247";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</div>
</div>
	<%= render "layouts/footer"%>
