<% provide(:title, 'privacy') %>

<div class = "crew" >
<h1 > Cruisin Bro website privacy</h1>
<div style="background-color: red; height: 2px; width: 100%; margin:5px 0px 8px  "></div>
<%= render "layouts/privacy"%>
</div>
<%= render "layouts/footer"%>