<div class=" box">
<div class="thumbnail">
	<h2>Revenue sharing</h2>
	<p> How Revenue sharing works is, you Bring traffic or just random 
	traffic views your content and photo. 
	you will make a percentage from google ads around your content its that simple its your content
	and you should earn money from it! For more information it the more button below </p>
	</div>
<div class="thumbnail ">
	<h2>Share & rate photos</h2>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="thumbnail "> 
		<h2>Notification</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
	<div class="thumbnail ">
		<h2>Garage</h2>

	 <p>Garage is you and your vehicles home page. Upload edit and change your ablums,
	  list vehicles spec along with photos of your vehicle. you are able to add more then one vehicle to your Garage.
	  Have your content Rated by friends and non friends ( rating from non friends is optional) 
	 also, message and view friends. Just show off your contact!      </p></div>
	<div class="thumbnail "> 
		<h2>Forums</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
	</div>