<div class = "pterms">
<p>Cruisin Bro  recognizes that privacy is important. Our privacy policy applies to all of the products, services, and websites offered by Cruisin Bro . By using our site, you consent to the terms in this privacy policy. Cruisin Bro’s purpose is to enable its users to upload and share photos. We consider the photos and other metadata to be the private information of our users.<br>
	<br>
Cruisin Bro  enables sharing photos with both authenticated and anonymous viewers over the Internet, while providing you with privacy settings that restrict other users from accessing your information. Our network architecture and your privacy settings allow you to make informed choices about who has access to your information. We allow you to choose the information you provide to friends and family relationships through Cruisin Bro  .<br>
<br>
Our primary responsibility is to our users, who in turn have relationships with their viewers. This privacy policy covers both our users and the viewers of our user’s photos and other information.<br>
<br>
<b>Security and Privacy Information for Cruisin Bro Users</b>
<br>
You can change your security and privacy settings at any time by visiting your preferences. You are in complete control of how much security and access you choose. You decide which photos to upload and who should be allowed to see them. You can choose Public (the entire world), Protected (Cruisin Bro friends only), or Private (only yourself) to view your content. Cruisin Bro's role is to enable you to upload photos and receive feedback from your viewers.<br>
<br>
<b>What Information Does Cruisin Bro Collect?</b>
<br>
When you visit Cruisin Bro pages, you provide us with a few types of information:
<ul> 
	<li>personal information you knowingly choose to disclose</li>
	<li>system usage information regarding your photos</li>
	<li>website user and technical support information</li>
</ul>
When you register an account with Cruisin Bro, you provide us with certain personal information, such as your email address.<br>
<br>
When you upload photos, we store the digital photos you give us, the photo descriptions and other information you enter to customize your photos. We also log certain usage information on our servers as you upload and manage your photos.<br><br>
When you request support we may collect information about the nature of your problem and we may log additional information about system usage to try to help you.<br><br>
When you enter Cruisin Bro, we collect your browser type and operating system type through Google Analytics. This information is gathered for all Cruisin Bro visitors. In addition, we store certain information from your browser using "cookies." A cookie is a piece of data stored on your computer tied to information about the user. We use session ID cookies to confirm that users are logged in. These cookies terminate once the user closes the browser. To make it easier for you to login when you return to Cruisin Bro, we use a persistent cookie that stores your login ID, but not your password. If you want to disable this convenience feature, you can remove or block this cookie using the settings in your browser.<br><br>
When you use Cruisin Bro, you create your personal profile and upload photos, comment on photos/albums/profiles, and transmit information through various means. We collect this information so we can provide you the service and offer personalized features. In most cases, we retain it so, for example, you can easily see your friend or family member list, or view prior messages you have sent.
You post your content on the site at your own risk. Although you control settings for privacy options that limit access to your pages, please be aware that no security measures are perfect or impenetrable. We cannot control the actions of other users with whom you may choose to share your pages and information. Therefore, we cannot and do not guarantee that content you post on the site will not be viewed by unauthorized persons. We are not responsible for circumvention of any privacy settings or security measures contained on the site. You understand and acknowledge that, even after removal, copies of content may remain viewable in cached and archived pages or if other Users have copied or stored your content.<br><br>
Any improper collection or misuse of information provided on Cruisin Bro is a violation of the Cruisin Bro Terms of Use and should be reported to support@cruisinbro.com.<br><br>
<b>How Do You Protect My Information?</b><br>
When you access your personal information we implement a variety of security measures to ensure the safety of your personal information.<br><br>
These security measures might include: password protected directories and databases to safeguard your information, SSL (Secure Sockets Layered) technology to ensure that your information is fully encrypted and sent across the Internet securely or PCI Scanning to actively protect our servers from hackers and other vulnerabilities.<br><br>
After a transaction, your private information (credit cards, etc.) will not be stored on our servers.
What Are Public, Protected, and Private Privacy Settings?
Cruisin Bro users can mark their photos as Public, Protected or Private.
A photo set as Public is public on the web and viewable to anyone who knows the URL of your public photo. Your public photos may also appear in search results (if you allow them to do so), in Exploreand on the homepage.<br><br>
A photo set as Protected (friends only) limits who can see it. User's you have marked as a Friend on Cruisin Bro are the only people that can see these photos. Protected photos can be searched on Cruisin Bro  , but will only show up if it is an authorized user (friend) searching.
A photo set as Private is for personal use only. They cannot be shared. Private photos are not searchable on Cruisin Bro.<br><br>
Cruisin Bro users can modify their photo privacy settings using either the dropdown menu when editing an existing individual photo or to a number of photos using the Editor.
Security of Sensitive Information<br><br>
Cruisin Bro takes appropriate precautions to protect our users' information. When you enter sensitive information (such as credit card numbers or your password), we encrypt that information using secure socket layer technology (SSL). Because email and instant messaging are not recognized as secure communications, we request that you not send private information to us by email or instant messaging services. If you have any questions about the security of the Cruisin Bro Web Site, please contact us at support@cruisinbro.com. Cruisin Bro utilizes third party online storage vendors to store photos and relies on the security of those vendors to keep data secure.<br><br>
<b>How Does Cruisin Bro Use My Information?</b><br>
When you register with Cruisin Bro , you create your own profile. Your profile information, as well as your name, email and photos, are displayed to people in the relationships specified in your privacy settings to enable you to connect with people on Cruisin Bro. We may occasionally use your name and email address to send you notifications regarding new services offered by Cruisin Bro that we think you may find valuable.<br><br>
Public Profile information you provided about yourself will be available for public to see.
Cruisin Bro may send you service-related announcements from time to time through the general operation of the service. For instance, if a user sends you a new friend request, you may receive an email alerting you of that action.<br><br>
We utilize system usage information and logged diagnostic information to improve our service. We also look at aggregate demographic information to try to understand who are users are and to guide future product development.
Cruisin Bro and its team use transmission data and HTTP protocol elements for the following purposes:
<ul>
	
<li>Website and system administration</li>
<li>Research and development</li>
<li>Anonymous user analysis</li>
<li>Anonymous user profiling and decision-making</li>
<li>To provide statistics to photo owners on the use of their photos</li>
</ul>

<b>Do You Share Information With Third Parties?</b><br>
<ul> 
<li>Cruisin Bro does not provide contact information to third party marketers without your permission. We do not share, sell, or rent your email address to third parties. We share your information with third parties only in limited circumstances where we believe such sharing is 1) reasonably necessary to offer the service, 2) legally required or, 3) permitted by you. For example:</li>
	<li>Your news feed may aggregate the information you provide and make it available to your friends and network members according to your privacy settings. You may set your preferences for your news feed in your Cruisin Bro privacy settings on your Cruisin Bro home page. </li>
Cruisin Bro offers user controls to block access to open site information by third party search engine "crawlers" (e.g. Google, Yahoo, etc.). Generally, search engines respect markup on pages that directs search engines to exclude the site content, but respecting such conventions is voluntary on the part of the search engines.</li>
	<li>Where we utilize third parties for the processing of any personal information, we implement reasonable contractual and technical protections limiting the use of that information to Cruisin Bro-specified purposes. We may provide information to service providers to help us bring you the services we offer. Specifically, we may use third parties to facilitate our business, such as to host the service at a co-location or other facility for servers, to send out email updates about Cruisin Bro, to process and fulfill print and other photo services, to remove repetitive information from our user lists or to process payments for products or services. In connection with these offerings and business operations, our service providers may have access to your personal information for use for a limited time in connection with these business activities.</li>
	<li>We may be required to disclose user information pursuant to lawful requests, such as subpoenas or court orders, or in compliance with applicable laws. We do not reveal information until we have a good faith belief that an information request by law enforcement or private litigants meets applicable legal standards. Additionally, we may share account or other information when we believe it is necessary to comply with law, to protect our interests or property, to prevent fraud or other illegal activity perpetrated through the Razzi service or using the Cruisin Bro name, or to prevent imminent bodily harm. This may include sharing information with other companies, lawyers, agents or government agencies.</li>
	<li>If the ownership of all or substantially all of the Cruisin Bro business were to change, your user information may be transferred to the new owner so the service can continue operations. In any such transfer of information, your user information would remain subject to the promises made in any pre-existing Privacy Policy.</li>
	<li>When you use Cruisin Bro, certain information you post or share with third parties (e.g., a friend or family member), such as personal information, comments, messages, photos, or other information, may be shared with other users in accordance with the privacy settings you select. All such sharing of information is done at your own risk. Please be aware that if you disclose personal information in your profile or when posting comments, messages, photos, or other items, this information may become publicly available.</li></ul>
<b>What About Links?</b><br><br>
Cruisin Bro may contain links to other websites. We do not review or monitor any websites linked from Cruisin Bro and are not responsible for the privacy practices or content of any such linked web sites. We encourage our users to be aware when they leave our site and to read the privacy statements of each and every web site that collects personally identifiable information. This Privacy Policy applies solely to information collected by Cruisin Bro .<br><br>
<b>Can I Modify Or Delete My Personal Information?</b><br><br>
Access and control over most personal information on Cruisin Bro is readily available through your Account Settings options .Cruisin Bro users can modify or delete any of their personal information at any time by logging into their account. Information will be updated immediately. If you want to deactivate your Cruisin Bro account, you may do so from the Account Overview page. Removed information may persist in backup copies and cached or archived pages for a reasonable period of time but will not be generally available to users of Cruisin Bro.<br><br>
When you make use of the communication features of the service to share information with other individuals on Cruisin Bro, you can always delete them.
Information For Viewers<br><br>
You don't have to register for an account to view photos posted on Cruisin Bro. If you view a Cruisin Bro user's content, we may collect certain information from you. Each Cruisin Bro user also has access to some of the data we collect. For example, visitor reports and view statistics.
Cruisin Bro does not control what its users do with the data we share. Cruisin Bro expects and requires its users to abide by Cruisin Bro’s Terms of Use. We will terminate a users’s account if we become aware that a Cruisin Bro user has violated our terms of service.
Terms of Use, Notices, and Revisions<br><br>
Your use of Cruisin Bro, and any disputes arising from it, is subject to this Privacy Policy, as well as our Terms of Use and all of its dispute resolution provisions, limitation on damages and choice of law. We encourage you to refer to our policy on an ongoing basis so that you understand our current privacy policy. Unless stated otherwise, our current privacy policy applies to all information that we have about you and your account. We reserve the right to change our Privacy Policy and our Terms of Use at any time. Policy changes will apply only to information collected after the date of the change. This policy was last modified on 8/15/2012.<br><br>
<b>CAN-SPAM Compliance</b><br>
Cruisin Bro has taken the necessary steps to ensure that we are in compliance with the CAN-SPAM Act of 2003 by never sending out misleading information.<br><br>
<b>Contacting Cruisin Bro</b><br> 
If you have any questions about this privacy policy, please contact us at support@cruisinbro.com

</p></div>